.mesa{
    width: 150px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    gap: 5px;
}

.mesa:hover {
    background-color: #444;
    transform: translateY(-2px);
}

.mesa-ocupada {
    background-color: #e74c3c;
    border-color: #fff;
}

.mesa-disponivel {
    background-color: #2ecc71;
    border-color: #fff;
}

.numero-mesa {
    font-size: 1.2rem;
}
.status-mesa{
    font-size: 0.9rem;
    color: #fff;
    font-weight: normal;
}
