@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /* Definindo variáveis CSS para cores e espaçamento */
  --cor-fundo-principal: #242424;
  --cor-texto-principal: #fff;
  --espacamento-padrao: 1rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lista-mesas {
  display: flex;
  flex-wrap: wrap;
  gap: var(--espacamento-padrao); /* Usando a variável */
  justify-content: center;
  margin-top: 2rem;
}
